.title {
    margin: 20px 0;
    color: white;
}
.info-artist {
    background-color: #181818;
    border-radius: 12px;
    padding: 20px 24px;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
    position: relative;
    &:hover {
        background-color: #282828;
    }
    img {
        width: 92px;
        height: 92px;
        border-radius: 50%;
    }
    h1 {
        padding: 10px 0;
    }
    button {
        color: white;
        font-weight: 600;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 20px;
        background-color: #ffffff12;
        cursor: pointer;
    }
}
.play {
    color: black;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #1ed760;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    bottom: 5px;
    opacity: 0;
    transition: 0.2s all linear;
    &:hover {
        cursor: default;
        transform: translateY(-40px) scale(1.05) !important;
    }
}
.info-artist:hover .play {
    transform: translateY(-40px);
    opacity: 1;
}
